@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@500;700&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* { font-family: 'Roboto', sans-serif;}
.inner{ max-width:1140px; margin: 0 auto;}

/* header구역 시작 */
#header { 
    position: fixed; 
    width:100%; top:0; left:0; 
    z-index: 999;
}

#header h1 img { width: 130px; transform: translate(50px,10px);}
#header #nav {
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%,5px);
}

#header #nav li {
    float: left;
    width:16.666%;
    text-align: center;
    padding: 0 20px 17px;
    font-size: 13px;
    color: #fff;
}

#header .login {
    position: absolute;
    top:15px; right:50px; 
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 7px 22px;
}
.login a:first-child {
    position: relative;
    padding-right: 20px;
}
.login a:first-child::after {
    content: '';
    width: 1px; height: 12px;
    background-color: #999;
    position: absolute;
    top: 1px; right: 5px;
}
/* header구역 끝 */

/* footer구역 시작 */
#footer {
    background-color: #1c1c1c;
    color: #666;
    font-size: 14px;
    text-align: center;
    padding: 60px 0 40px;
}

#footer .sns i {
    font-size: 24px;
    padding: 0 13px;
    color: #888;
    transition: all 0.3s;
}

#footer .sns i:hover {
    color: #c7c7c7;
}

#footer .info {
    padding: 30px;
}

#footer .info span {
    color: #b7b7b7;
    padding: 0 6px 5px 9px;
    display: inline-block;
}
/* footer구역 끝 */

.gotop {
    position: fixed;
    right: 50px; 
    bottom: 45px;
    background-color: #000;
    color: #fff;
    padding: 6px 8px;
    transition: all 0.3s;
}

.gotop:hover {
    background-color: #777;
}


