@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

body {font-family: 'Roboto', sans-serif;}

/* 메인이미지 구역 시작 */
#main .mainimg .vid { height: 100vh; position: relative; overflow: hidden;}
#main .mainimg .vid video {
    min-width: 100%; min-height: 100%;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

#main .mainimg {position: relative;}
#main .mainimg .text {
    position: absolute;
    top: 50%;  left:50%; 
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
#main .mainimg .text > p {
    font-size: 18px;
    margin-bottom:25px;
}
#main .mainimg .text > h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: bold;
    line-height: 1em;
}
/* 메인이미지 구역 끝 */


/* ABOUT 구역 시작 */
#main .about {padding: 150px 0;}
/* .abouttext {
	animation: slide-top 1.2s both;
}
@keyframes slide-top {
    0% { transform: translateY(600px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1;}
} */
#main .about .abouttext {
    float: left;
    width: 50%;
    padding: 0 70px 0 50px;
    color: #777;
}
#main .about .abouttext h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight:normal;
    color: #939393;
    padding-bottom: 10px;
}
#main .about .abouttext h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight:500;
    color: #232323;
}
#main .about .abouttext span {
    font-size: 20px;
    line-height: 26px;
    padding: 25px 0; 
    display: inline-block;
}
#main .about .abouttext p {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

/* #main .about .aboutimg img {
    animation: fade-in 1.5s ease-out both;
}
@keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1;}
} */
#main .about .aboutimg img:first-child {
    float: left;
    width: 25%;
    animation-delay: 0.6s;
}
#main .about .aboutimg img:last-child {
    float: left;
    width: 25%;
    transform: translate(30px,30px);
    animation-delay: 0.8s;
}

#main .about .icon { padding-top: 170px; display: inline-block;}
#main .about .icon > ul > li {
    text-align: center;
    float: left;
    width: 33.3333%;
    position: relative;
}
#main .about .icon img { 
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 50%;
}
#main .about .icon p {  
    padding: 0 50px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}
#main .about .icon span {
    margin: 30px 0 5px;
    display: inline-block;
    color: #232323;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif
}
#main .about .icon > ul > li::after {
    content: '';
    width: 50px; height: 1px; background-color: #666;
    position: absolute; left: 350px; top: 60px;
}
#main .about .icon > ul > li:last-child::after {content: none;}
/* ABOUT 구역 끝 */


/* SERVICE 구역 시작 */
#main .service {
    background-image: linear-gradient(180deg,#f6f6f6,#fff);
    margin: 20px 50px; padding: 150px;
}
#main .service > ul {position: relative;}
#main .service > ul > li {float: left; width:32.133%}
#main .service h6 {
    font-size: 12px; color: #939393;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 7px; text-align: center;
}
#main .service h3,
#main .portfolio h3 {
    font-size: 32px; color: #232323;
    font-family: 'Montserrat', sans-serif;
    text-align: center; font-weight: normal;
    padding-bottom: 80px;
}
#main .service ul li:nth-child(2) {margin: 0 1.2%;}
#main .imgbox { background-color: #000; overflow: hidden;}
#main .service ul li img { transition: all 0.3s; opacity: 0.6;}
#main .service ul li:hover img {
    transform: scale(1.2);
}
#main .service > ul > li { position: relative; overflow: hidden;}
#main .service > ul > li .text {
    position: absolute; top: 92%; left: 15px;
    color: #fff; transition: all 0.3s ease-out; 
} 
#main .service > ul > li:hover .text { top: 58%;}
#main .service > ul > li:first-child:hover .text { top: 68%;}
#main .service > ul > li .line {
    position: absolute; bottom:153px; left:0px;
    width: 0%; height: 1px; 
    background-color: #c4c4c4;
    transition: all 0.5s;
}
#main .service > ul > li:first-child .line{
    position: absolute; bottom:103px; left:0px;
    width: 0%; height: 1px; 
    background-color: #c4c4c4;
    transition: all 0.5s;
}
#main .service > ul > li:hover .line {
    width: 70%;
}
#main .service .text p { 
    font-size: 14px; color:#d6d5d5; 
    font-weight: bold; padding-bottom: 20px;
}
#main .service .text span { 
    font-size: 17px; color:#fff; 
    font-family: 'Montserrat', sans-serif;
    font-weight: normal; display: inline-block;
    padding-right: 20px; line-height: 25px;
}
/* SERVICE 구역 끝 */



/* PORTFOLIO 구역 시작 */
#main .portfolio .category {
    text-align: center; 
}
#main .portfolio .category li {
    display: inline-block; 
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; color: #6f6f6f;
    padding: 30px 25px 80px ;
}
#main .portfolio .product { padding: 0 50px 50px;}
#main .portfolio .product li {
    float: left; 
    width:25%;
    padding: 0 10px 10px 0
}
#main .portfolio .product .imgbox2 {
    overflow: hidden; background-color: #000; position: relative;
}
#main .portfolio .product img {transition: all 0.3s;}
#main .portfolio .product .imgbox2:hover img {
    transform: scale(1.1); opacity: 0.2;
}
#main .portfolio .product p {
    text-align: center;
    color: #fff;
    position: absolute; top: 50%; left:50%;
    transform: translate(-50%, -50%);
}


