@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

body {font-family: 'Roboto', sans-serif;}

/* 메인이미지 구역 시작 */
.mainimg .vid { height: 100vh; position: relative; overflow: hidden;}
.mainimg .vid video {
    min-width: 100%; min-height: 100%;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.mainimg .vid::after {
    content: '';
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.mainimg {position: relative;}
.mainimg .text {
    position: absolute;
    top: 50%;  left:50%; 
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
.mainimg .text > p {
    font-size: 18px;
    margin-bottom:25px;
    font-weight: lighter;
}
.mainimg .text > h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: bold;
    line-height: 1em;
}
/* 메인이미지 구역 끝 */


/* ABOUT 구역 시작 */
.about {padding: 150px 0;}
/* .abouttext {
	animation: slide-top 1.2s both;
}
@keyframes slide-top {
    0% { transform: translateY(600px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1;}
} */
.about .abouttext {
    float: left;
    width: 50%;
    padding: 0 70px 0 50px;
    color: #777;
}
.about .abouttext h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight:normal;
    color: #939393;
    padding-bottom: 10px;
}
.about .abouttext h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
    color: #232323;
}
.about .abouttext span {
    font-size: 20px;
    line-height: 26px;
    padding: 25px 0; 
    display: inline-block;
}
.about .abouttext p {
    font-size: 14px;
    line-height: 24px;
}

/* #main .about .aboutimg img {
    animation: fade-in 1.5s ease-out both;
}
@keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1;}
} */
.about .aboutimg img:first-child {
    float: left;
    width: 25%;
    animation-delay: 0.6s;
}
.about .aboutimg img:last-child {
    float: left;
    width: 25%;
    transform: translate(30px,30px);
    animation-delay: 0.8s;
}

.about .icon { padding-top: 170px; display: inline-block;}
.about .icon > ul > li {
    text-align: center;
    float: left;
    width: 33.3333%;
    position: relative;
}
.about .icon img { 
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 50%;
}
.about .icon p {  
    padding: 0 50px;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}
.about .icon span {
    margin: 30px 0 5px;
    display: inline-block;
    color: #232323;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.about .icon > ul > li::after {
    content: '';
    width: 50px; height: 1px; background-color: #666;
    position: absolute; left: 350px; top: 60px;
}
.about .icon > ul > li:last-child::after {content: none;}
/* ABOUT 구역 끝 */


/* SERVICE 구역 시작 */
.service {
    background-image: linear-gradient(to top,#fff,#f6f6f6);
    margin: 20px 50px; padding: 150px 320px;
}
.service > ul {position: relative;}
.service > ul > li {float: left; width:32.133%}
.service h6 {
    font-size: 12px; color: #939393;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 7px; text-align: center;
}

h3{
    font-size: 32px; color: #232323;
    font-family: 'Montserrat', sans-serif;
    text-align: center; font-weight: 600;
    padding-bottom: 50px;
}
.service ul li:nth-child(2) {margin: 0 1.2%;}
.imgbox { background-color: #000; overflow: hidden;}
.service ul li img { transition: all 0.3s; opacity: 0.6;}
.service ul li:hover img {
    transform: scale(1.2);
}
.service > ul > li { position: relative; overflow: hidden;}
.service > ul > li .text {
    position: absolute; top: 92%; left: 15px;
    color: #fff; transition: all 0.3s ease-out; 
} 
.service > ul > li:hover .text { top: 64%;}
.service > ul > li:first-child:hover .text { top: 69%;}
.service > ul > li .line {
    position: absolute; bottom:129px; left:0px;
    width: 0%; height: 1px; 
    background-color: #c4c4c4;
    transition: all 0.5s;
}
.service > ul > li:first-child .line{
    position: absolute; bottom:103px; left:0px;
    width: 0%; height: 1px; 
    background-color: #c4c4c4;
    transition: all 0.5s;
}
.service > ul > li:hover .line {
    width: 70%;
}
.service .text p { 
    font-size: 14px; color:#d6d5d5; 
    padding-bottom: 20px;
}
.service .text span { 
    font-size: 17px; color:#fff; 
    font-family: 'Montserrat', sans-serif;
    font-weight: normal; display: inline-block;
    padding-right: 20px; line-height: 25px;
}
/* SERVICE 구역 끝 */



/* PORTFOLIO 구역 시작 */
.portfolio {  font-family: 'Montserrat', sans-serif;}
.portfolio .category {
    text-align: center; 
    margin-bottom: 70px;
}
.portfolio .category li {
    display: inline-block; 
    font-size: 13px; color: #6f6f6f;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
}
.portfolio .category li:hover {
    border-bottom: 1px solid #999;
    color: #3d3d3d;
}

.portfolio .category li:last-child {
    margin-right: 0px;
}
.portfolio .product { padding: 0 50px 50px;}
.portfolio .product li {
    float: left; 
    width:25%;
    padding: 0 10px 10px 0
}

.portfolio .product .imgbox2 {position: relative; overflow: hidden;}
.portfolio .product .imgbox2::after {
    content: '';
    position: absolute; top: 20px; left: 20px; right: 20px; bottom: 20px;
    background-color: rgba(0,0,0,0); transition: all 0.3s;
}
.portfolio .product li:hover .imgbox2::after{
    background-color: rgba(0,0,0,0.8);
}
.portfolio .product img {transition: all 0.3s;}
.portfolio .product .imgbox2:hover img {
    transform: scale(1.1); 
}
.portfolio .product .textbox {
    text-align: center;
    color: #fff;
    position: absolute; top: 50%; left: 50%; text-align: center;
    transform: translate(-50%,-50%); opacity: 0; z-index: 999;
}
.portfolio .product div:hover .textbox {opacity: 1;}
.portfolio .product .textbox p {
    font-size: 15px;
    white-space: nowrap;
}
.portfolio .product .textbox span { 
    font-size: 11px; color: #939393;
    display: block; padding-top: 7px;
}

.portfolio .number {
    text-align: center;
    overflow: hidden; padding: 40px 200px 30px 130px;
}
.portfolio .number li {
    float: left; width: 25%;
}
.portfolio .number li .icon {
    display: inline-block;
    font-size: 30px; color: #939393;
    padding-right: 30px; vertical-align: middle;
}
.portfolio .number li .text {
    display: inline-block;
    font-size: 27px;
    text-align: left; 
    vertical-align: middle;
}
.portfolio .number .text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 5px;
}
.portfolio .number .text span {
    display: block; font-size: 12px;
    color: #9c9c9c; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.portfolio .client { padding: 70px 0;}
.client .clientlogo {
    background-color: #1c1c1c;
    text-align: center;
    padding: 120px 0;
    margin-bottom: 50px;
}
.portfolio .clientlogo li {
    display: inline-block;
    padding-right: 25px;
}
.portfolio .clientlogo li:last-of-type { padding-right: 0}
/* PORTFOLIO 구역 끝 */


/* CONTACT 구역 시작 */
.contact .icon { 
    text-align: center; padding: 30px 0 80px; 
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 70px;
}
.contact .icon li {
    float: left; width: 33.3333%;
}
.contact .icon li i { font-size: 40px; color: #636363; padding: 25px 0; }
.contact .icon .ctext { 
    font-size: 14px; color: #636363;
    line-height: 24px; 
}

.contact {
    overflow: hidden;
    margin-bottom: 120px;
}

.contact .qna,
.contact .project {
    float: left;
    width: 44%;
}

.contact .qna {
    margin-right: 11%;
}

.contact .qna a {
    font-size: 13px;
    color: #232323;
    font-weight: bold;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 22px 0;
}

.contact .qna .text {
    padding: 20px 0;
}

.contact .qna .text p {
    line-height: 1.8em;
    font-size: 14px;
    font-weight: 500;
}

.contact .qna a::after {
    content: '+';
    color: #888;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 20px;
    right: 4px;
}

.contact .qna .text p {
    color: #555;
    font-size: 13px;
}

.contact h5 {
    font-size: 27px;
    color: #666;
    margin-bottom: 30px;
    font-weight: lighter;
}
.contact .projectBox label {
    position: absolute; 
    width: 0; height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    text-indent: -9999px;
}
.contact .projectBox input {
    width: 244px;
    height: 54px;
    border: none;
    background-color: #f9f9f9;
    text-indent: 1em;
    margin-bottom: 20px;
}

.contact .projectBox #phone {
    margin-left: 10px;
}

.contact .projectBox #email {
    width: 503px;
}

.contact .projectBox #message {
    width: 503px;
    height: 200px;
}

.contact .projectBox button {
    width: 503px;
    height: 36px;
    background-color: #232323;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: bold;
    transition: all 0.3s;
}

.contact .projectBox button:hover {
    background-color: #fff;
    color: #000;
}
/* CONTACT 구역 끝 */ 

